<h1>{{ len_articles }} nouveaux articles parus cette semaine</h1>
<table style="background:#ccc;">
    <thead>
        <th></th>
        <th style="width:200px;">
            Les nouveaux articles parus
        </th>
        <th>
            Liens
        </th>
    </thead>
    <tbody>
        <tr>
            {% for article in last_articles %}
            <td><img src="{{ SITE_URL }}{{ article.image.url }}" alt=""></td>
            <td>{{ article.title }}</td>
            <td><a href="{{ SITE_URL }}{% url 'blog.views.article' article.slug %}">Liens</a></td>
            {% endfor %}
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td style="font-size:10px;">Newsletter de 13Atmosphere</td>
            <td style="font-size:10px;"><a href="{{ SITE_URL }}{% url 'newsletter.views.unsubscribe' news_id subscriber.id %}">Unsubscribe</a> </td>
        </tr>
    </tfoot>
</table>