{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="main contact-page content-page">
<h2>{% trans "Souscrire à la newsletter" %}</h2>
{% if error %}
        <p>{{ error|escape }}</p>
    {% endif %}
<form action="{% url 'newsletter.views.subscribe' %}" method="POST" id="form_subscribe">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "S'abonner à 'la Newsletter" %}" class="btn btn-success" id="submit_subscribe">
</form>
</div>
{% endblock %}
