{% if p.has_other_pages %}
{% load i18n %}
    {% if p.has_previous %}
    <a href="{{ request.path }}?{{ params }}&page={{ p.previous_page_number }}">
    &laquo; Previous
    </a>
    {% else %}
    &laquo; {% trans 'Previous' %}
    {% endif %}
    | Page {{ p.number }} of {{ paginator.num_pages }} |
    {% if p.has_next %}
    <a href="{{ request.path }}?{{ params }}&page={{ p.next_page_number }}">
    {% trans 'Next'%} &raquo;
    </a>
    {% else %}
    {% trans 'Next' %} &raquo;
    {% endif %}
{% endif %}
