{% load i18n %}
{% load static %}
<aside class="l-260 sidebar">
            <div class="sidebar-container">
                <div class="search-container">
                    {% load i18n %}
                    <form class="atmosphere-form" id="search" action="{% url 'search_results' %}" method="GET">
                        <fieldset>
                            {{ form.q }}
                            <button class="btn search-btn">{% trans 'Rechercher'%}</button>
                        </fieldset>
                    </form>
                </div>
                <div class="atmosphere-presentation">
                    <div class="sidebar-logo">
                        <img src="{% get_static_prefix %}images/common/logo-sidebar.png" alt="" />
                    </div>
                    <div class="content-text">
                        <p>
                            {% blocktrans %}Partager une sensibilité, une perception, un instant, une curiosité …
…puis évoquer et laisser parler des gens attachants et qui ont une telle densité qu’ils pourraient bien faire la Une de l’actualité…
Publier des carnets de voyages, les nôtres, mais les leurs aussi… du beau à nos yeux…
Parler de projets architecturaux, de produits et d’événements… tout ce que nos regards ont saisi…
Ouvrir la porte à nos correspondants du monde entier, s’ouvrir à leurs œuvres, leurs réalités, leurs visions.
Lire le monde avec des photographes français et internationaux…{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="follow-links-container">
                    {% blocktrans %}Suivez nous sur les <br />réseaux sociaux :{% endblocktrans %}
                    <ul class="follow-links-list">
                        <li class="linkedin">
                            <a href="#"><span class="display">{% trans "Linkedin" %}</span></a>
                        </li>
                        <li class="viadeo">
                            <a href="#"><span class="display">{% trans "Viadeo" %}</span></a>
                        </li>
                        <li class="google">
                            <a href="#"><span class="display">Google +</span></a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-newsletter">
                    <form action="{% url 'newsletter.views.subscribe' %}" method="post" class="atmosphere-form">
                        <fieldset>
                            {% csrf_token %}
                            <input type="text" placeholder="Subscribe to the newsletter" />
                            <button class="btn-submit"><span class="display">{% trans "Envoyer" %}</span></button>
                        </fieldset>
                    </form>
                </div>
                <div class="sidebar-list-container">
                    <h3 class="sidebar-title archives">{% trans "Archives" %}</h3>
                    <ul class="months-list">
                        {% for date in archives %}
                        <li><a href="{% url 'blog.views.archive_view' year=2013 month=date.0 %}">{{ date.1 }}</a></li>
                        {% endfor %}
                    </ul>
                    <h3 class="sidebar-title categories">{% trans "Catégories" %}</h3>
                    <ul class="category-list">
                        {% for category in categories %}
                        <li><a href="{% url 'blog.views.single_category' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="last-articles">
                <ul class="articles-list">
                    {% for article in last_articles %}
                    <li>
                        <article>
                            <div class="excerpt-details-container">
                                <h4 class="article-title">{{ article.title|truncatechars:30 }}</h4>
                                <p class="article-excerpt">{{ article.content|safe|truncatechars:30 }}</p>
                            </div>
                            <div class="link-container">
                                <a href="{% url 'blog.views.single_article' article.slug %}"><span class="display">Lire</span></a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </aside>
