{% load i18n %}
{% include 'tag_html/modal.html' %}
<div class="hp-newsletter">
    <h2 class="middle-title">Abonnez-vous <br /> à la newsletter</h2>
    <form class="atmosphere-form" method="POST" action="{% url 'newsletter.views.subscribe' newsletter.id %}" id="form_subscribe">
        <fieldset>
            <input type="text" class="id_email" />
            {% csrf_token %}
            <div class="btn-submit-container"><button type="submit" class="submit-btn" id="submit_subscribe">Envoyer</button></div>
        </fieldset>
    </form>
</div>
