BeautifulSoup==3.2.1
Django==1.5.1
Pillow==2.1.0
South==0.8.1
admin-multiupload==0.1
cssutils==0.9.10
distribute==0.6.34
django-suit==0.2.2
django-tagging==0.3.1
django-tinymce==1.5.1
mock==1.0.1
psycopg2==2.5.1
pynliner==0.5.0
sorl-thumbnail==11.12
