{% extends 'support/base.html' %}
{% block content %}

<div class="intro span12">
    <h2>Gestion des articles</h2>
    <p>Pour une brève description du monde informatique, les articles pour l'ordinateur sont stockés dans une base de donnée sous forme de Colonne / valeur.</p>
    Passons aux différentes parties :
    <ul>
        <li><a href="#prerequis">Prérequis</a> : Les prérequis pour créer son article</li>
        <li><a href="#creer_article">Création d'article</a> : Tout savoir pour créer son article</li>
        <li><a href="#ajout_photo">Ajouter une photo à l'article</a> Ajout de photo / recommandation</li>
        <li><a href="#mise_page">Faire de la mise en page</a> : Faites une belle mise en page à vos articles</li>
    </ul>
</div>
<div class="chapter span12">
<a name="prerequis"></a>
<h2>Pré-requis à la création d'article</h2>
<p>Les prérequis sont des informations à laquelle vous devez penser avant de créer votre article afin que tout se déroule comme vous le désirez. Voici une liste explicative</p>
<ul>
    <li><strong>Se connecter à l'admin</strong> Pour créer un article veuillez vous <a href="http://13atmosphere.com/admin">connecter à l'admin</a> avec votre nom d'utilisateur et votre mot de passe</li>
    <li><strong>Préparez les photos que vous allez mettre dans les articles : </strong>Pour une raison technique, l'éditeur de texte ne permet pas de rétrécir vos images que vous allez mettre dans vos articles. Il vous faudra donc bien préparez vos images afin qu'elles aient la bonne taille pour l'article.
        <strong>Le format idéal est le 200x200. C'est à dire 200 pixels de largeur et 200 pixels de longueur. Mais vous pouvez faire comme bon vous semble ! c'est votre création.</strong>
    <p></p>
    Pour rétrécir vos images vous pouvez utiliser plusieurs outils (Cliquez sur l'outil que vous allez utiliser pour avoir la démarche à suivre)
    <ul>
        <li><a href="http://www.tutoriels-animes.com/redimensionner-reduire-image-photo-paint.html">Avec Paint (installé sous tous les windows)</a>Si vous ne savez pas comment faire pour trouver paint voici un autre tutoriel <a href="http://www.forum-entraide-informatique.com/t5703-ouvrir-paint-dans-windows-8">pour trouver paint (cliquez ici)</a></li>
        <li><a href="http://www.taigapassionnordiques.org/t1473-redimensionner-sous-photoshop">Sous photoshop</a> </li>
    </ul>
    </li>
</ul>
</div>
<div class="chapter span12">
<a name="creer_article"></a>
<h2>Créer un article !</h2>
<p><strong>Chemin : </strong><em>Blog > Articles > Ajouter</em></p>
<p>Pour <strong>créer un article</strong> il vous suffit d'aller de <strong>cliquer dans Blog</strong>, ensuite sur <strong>Articles</strong> et enfin <strong>Ajouter</strong>.</p>
</div>
<div class="chapter">
<a name="ajout_photo"></a>
<h2>Ajouter des photos à l'article</h2>
</div>
<div class="chapter">
<a name="mise_page"></a>
<h2>Faire de la mise en page</h2>
</div>
{% endblock %}
