{% extends 'support/base.html' %}
{% block content %}

<div class="intro">
    <h2>Ici vous aurez le maximum d'information pour pouvoir géré la publication et vos articles.</h2>
    <p>Pour une brève description du monde informatique, les articles pour l'ordinateur sont stockés dans une base de donnée sous forme de Colonne / valeur.</p>
    Passons aux différentes parties :
    <ul>
        <li><a href="#creer_article">Création d'article</a> : Tout savoir pour créer son article</li>
        <li><a href="#ajout_photo">Ajouter une photo à l'article</a> Ajout de photo / recommandation</li>
        <li><a href="#mise_page">Faire de la mise en page</a> : Faites une belle mise en page à vos articles</li>
    </ul>
</div>
<div class="chapter">
<a name="creer_article"></a>
<h2>Créer un article !</h2>
</div>
<div class="chapter">
<a name="ajout_photo"></a>
<h2>Ajouter des photos à l'article</h2>
</div>
<div class="chapter">
<a name="mise_page"></a>
<h2>Faire de la mise en page</h2>
</div>
{% endblock %}
