<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}support/css/support.css">
    {% block css %}
    {% endblock %}
    </head>
    <body>
        {% include 'support/header.html' %}
        <div id="wrapper" class="row-fluid">
            {% block content %}

            {% endblock %}
        </div>
        {% include 'footer.html' %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
