{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
<div class="main gallerie-page content-page">
    <div class="l-100">
        <div class="hp-gallery-containter">
                <div class="inner-wrapper">
                    <div class="hp-images-list-container">
                        {% for gallery in galleries %}
                        <ul class="hp-images-list">
                            <li class="month-gallery">
                                <span class="gallery-author">{{ gallery.author.name }}</span>
                            </li>
                            {% for image in gallery.images %}
                            <li>
                                {% if image.image|is_portrait %}
                                    {% thumbnail image.image "180x120" crop="center" as img %}
                                    <img src="{{ img.url }}" alt="" />
                                    {% endthumbnail %}
                                {% else %}
                                {% thumbnail image.image "180x120" as img %}
                                    <img src="{{ img.url }}" alt="" />
                                    {% endthumbnail %}
                                {% endif %}

                                <div class="color-overlay"></div>
                                <a class="image-link" href="{{ image.image.url }}">
                                    <div class="image-overlay">
                                        <span class="image-title">{{ image.name }}</span>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of 1-100 -->
</div>
{% endblock %}
