{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
<div class="main content-page">
    <div class="l-100">
        <div class="l-685">
            <div class="head-presentation">
                <h1 class="title">{{ gallery.author.name }}</h1>
                <div class="presentation-content">
                    {% thumbnail gallery.author.image "100x100" crop="center" as img %}
                    <img src="{{ img.url }}">
                    {% endthumbnail %}
                </div>
            </div>

            <div class="content-text">
                {{ gallery.author.biography }}
            </div>
        </div>
        {% load sidebar_tag %}
        {% sidebar_box request %}
    </div>
</div>
{% endblock %}
