{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="main evocations-page content-page">
    <div class="l-100">
        <div class="l-685">
            <div class="head-presentation">
                <h1 class="title">{{ category.name }}</h1>
                <div class="presentation-content">
                    <span class="presentation-title">{{ last_article.title }}</span>
                    <span class="presentation-date">Le {{ last_article.created_at }}</span>
                </div>
            </div>

            <div class="content-text">
                {{ last_article.content|safe }}
            </div>
        </div>

        {% include "sidebar.html" %}


    </div> <!-- end of 1-100 -->
</div>

{% endblock%}
