{% extends 'base.html' %}
{% block meta %}
    <meta name="description" content="{{ category.meta_description }}">
    <meta name="keywords" content="{{ category.meta_keywords }}">
    <meta name="author" content="Therese Mace">
{% endblock %}
{% block content %}
{% load thumbnail %}
{% load i18n %}
<div class="main evocations-page content-page">
    <div class="l-100">
        <div class="l-685">
            <div class="head-presentation">
                <h1 class="title">{{ category.name }}</h1>
                <div class="presentation-content">
                    <span class="presentation-title">{{ last_article.title }}</span>
                    <span class="presentation-date">Le {{ last_article.created_at }}</span>
                </div>
            </div>
            <div class="content-text">
                {{ last_article.content|safe }}
            </div>
            <div class="hp-articles-container">
                <div class="banner"><h3 class="banner-title">{% trans "Articles " %} {{ category.name }}</h3></div>
                <div class="inner-wrapper">
                    <ul class="hp-article-list l-100 clear">
                        <li>
                            <ul>
                                {% if articles|length > 0 %}
                                {% for article in articles %}
                                <li>
                                    <article>
                                        <header class="article-header">
                                            Posté le <span class="article-date">{{ article.created_at }}</span>
                                            <span class="article-category">{{ article.cateogory }}</span>
                                        </header>
                                        {% thumbnail article.image "218x166" crop="center" as img %}
                                        <a class="article-visual-link" href="{% url 'blog.views.single_article' article.slug%}"><img src="{{ img.url }}" alt="" /></a>
                                        {% endthumbnail %}
                                        <h4 class="article-title"><a href="{% url 'blog.views.single_article' article.slug%}">{{ article.title }}</a></h4>
                                        <div class="content-text">
                                            {{ article.content|safe|truncatechars:50 }}
                                        </div>
                                        <a href="{% url 'blog.views.single_article' article.slug %}" class="read-more-btn" title="Lire plus de l'article Lorem Ipsum">+</a>
                                    </article>
                                </li>
                                {% endfor %}
                                {% else %}
                                <p>{% trans "Pas d'article pour cette période" %}</p>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        {% load sidebar_tag %}
        {% sidebar_box request %}
    </div> <!-- end of 1-100 -->
</div>

{% endblock%}
