{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="main contact-page content-page">
    <div class="l-100">
        <div class="contact-visual">
            <img src="{{ STATIC_URL }}images/pages/contact-visual.jpg" alt="Contactez-nous" />
        </div>

        <div class="contact-content">
            <h1 class="title">{% trans "Edito" %}</h1>
            <div class="contact-content-text">
                {{ edito.texte|safe }}
            </div>
        </div>

        <div class="contact-persons-container">
            <div class="l-50 contact-person">
                <div class="contact-visual">
                    <img src="{{ STATIC_URL }}images/pages/portrait-therese.jpg" alt="Thérèse Hauff Macé" />
                    <div class="hover-container">
                        <div class="hover-info">
                            <div class="contact-name">Thérèse Macé</div>
                            <div class="contact-number"><a style="color:white;" href="mailto:therese@13atmosphere.com">therese@13atmosphere.com</a></div>
                        </div>
                        <div class="color-overlay"></div>
                    </div>
                </div>
            </div>

            <div class="l-50 contact-person">
                <div class="contact-visual">
                    <img src="{{ STATIC_URL }}images/pages/portrait-marine.jpg" alt="Marine Henry" />
                    <div class="hover-container">
                        <div class="hover-info">
                            <div class="contact-name">Marine Henry</div>
                            <address>
                                <a style="color:white;" href="mailto:marine@13atmosphere.com">marine@13atmosphere.com</a>
                            </address>
                        </div>
                        <div class="color-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
{% if error %}
    <p>{{ error|escape }}</p>
{% endif %}
        <form method="POST" action="{% url 'atmosphere.views.contact' %}" class="atmosphere-form contact-form">
            <fieldset>
                {% csrf_token %}
                <h2 class="title">{% trans "Nous contacter" %}</h2>
                <div class="row">
                    <label for="name">{% trans "Nom :" %}</label>
                    <input id="name" type="text" name="name" />
                </div>
                <div class="row">
                    <label for="mail">{% trans "Mail :" %}</label>
                    <input id="mail" type="text" name="email"/>
                </div>
                <div class="row">
                    <label for="subject">{% trans "Sujet :" %}</label>
                    <input id="subject" type="text" name="subject"/>
                </div>
                <div class="row">
                    <label for="textarea">{% trans "Message :" %}</label>
                    <textarea id="textarea" name="message"></textarea>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn">{% trans "Envoyer" %}</button>
                </div>
            </fieldset>
        </form>

    </div> <!-- end of 1-100 -->
</div>
{% endblock %}
