{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="main contact-page content-page">
    <div class="l-100">
        <div class="contact-visual">
            <img src="{{ STATIC_URL }}images/pages/contact-visual.jpg" alt="Contactez-nous" />
        </div>

        <div class="contact-content">
            <h1 class="title">Qui sommes-nous</h1>
            <div class="contact-content-text">
                <h2>Architecture et design : les vivre…  </h2>
                        <p><strong>Partager une sensibilité, une perception, un instant, une curiosité … </strong></p>
                        <p>…puis évoquer et laisser parler des gens attachants et qui ont une telle densité qu’ils pourraient bien faire la Une de l’actualité…</p>
                        <p>Publier des carnets de voyages, les nôtres, mais les leurs aussi… <strong>du beau à nos yeux…</strong></p>
                        <p>Parler de projets architecturaux, de produits et d’événements… <strong>tout ce que nos regards ont saisi…</strong></p>
                        <p>Ouvrir la porte à nos <strong>correspondants du monde entier</strong>, s’ouvrir à leurs œuvres, leurs réalités, leurs visions.</p>
                        <p><strong>Lire le monde avec des photographes</strong> français et internationaux…</p>
            </div>
        </div>

        <div class="contact-persons-container">
            <div class="l-50 contact-person">
                <div class="contact-visual">
                    <img src="{{ STATIC_URL }}images/pages/portrait-therese.jpg" alt="Thérèse Hauff Macé" />
                    <div class="hover-container">
                        <div class="hover-info">
                            <div class="contact-name">Thérèse Hauff-Macé</div>
                            <address>
                                2 rue Cournot <br />
                                75015 Paris
                            </address>
                            <div class="contact-number">+33 (0)6 60 48 13 28</div>
<!--                             <ul class="contact-share-list">
                                <li class="linkedin"><a href="#">Linkedin</a></li>
                                <li class="viadeo"><a href="#">Viadeo</a></li>
                                <li class="google"><a href="#">Google +</a></li>
                            </ul> -->
                        </div>
                        <div class="color-overlay"></div>
                    </div>
                </div>
            </div>

            <div class="l-50 contact-person">
                <div class="contact-visual">
                    <img src="{{ STATIC_URL }}images/pages/portrait-marine.jpg" alt="Marine Henry" />
                    <div class="hover-container">
                        <div class="hover-info">
                            <div class="contact-name">Marine Henry</div>
                            <address>
                                2 rue Cournot <br />
                                75015 Paris
                            </address>
<!--                             <div class="contact-number">+33 (0)6 60 48 13 28</div>
                            <ul class="contact-share-list">
                                <li class="linkedin"><a href="#">Linkedin</a></li>
                                <li class="viadeo"><a href="#">Viadeo</a></li>
                                <li class="google"><a href="#">Google +</a></li>
                            </ul> -->
                        </div>
                        <div class="color-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
{% if error %}
    <p>{{ error|escape }}</p>
{% endif %}
        <form method="POST" action="{% url 'atmosphere.views.contact' %}" class="atmosphere-form contact-form">
            <fieldset>
                {% csrf_token %}
                <h2 class="title">Envoyez-moi un message</h2>
                <div class="row">
                    <label for="name">Nom :</label>
                    <input id="name" type="text" name="name" />
                </div>
                <div class="row">
                    <label for="mail">Mail :</label>
                    <input id="mail" type="text" name="email"/>
                </div>
                <div class="row">
                    <label for="subject">Sujet :</label>
                    <input id="subject" type="text" name="subject"/>
                </div>
                <div class="row">
                    <label for="textarea">Message :</label>
                    <textarea id="textarea" name="message"></textarea>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn">Envoyer</button>
                </div>
            </fieldset>
        </form>

    </div> <!-- end of 1-100 -->
</div>
{% endblock %}
