<footer class="main-footer">
    {% load articles_tag %}
    {% footer_slider request %}
    {% load partenaire_tag %}
    {% footer_partenaire request %}
    <div class="footer-nav-container">
        <div class="l-100 inner-wrapper">
            <div class="about-side">
                <div class="footer-title">À propos</div>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="footer-link">Publicité</a>
                        <div class="subnotice">Votre maque sur ce blog</div>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Presse</a>
                        <div class="subnotice">Couverture média</div>
                    </li>
                    <li>
                        <a href="{% url 'atmosphere.views.contact' %}" class="footer-link">Contact</a>
                        <div class="subnotice">Feedback</div>
                    </li>
                </ul>
            </div>
            <div class="newsletter-side">
                <div class="footer-title">Newsletter</div>
                    <form methdod="post" action="" class="atmosphere-form" id="footer_newsletter">
                        <fieldset>
                            <input type="text" placeholder="Abonnez-vous à la newsletter" class="id_email" />
                            <button type="submit" class="btn-submit"></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright-container">
            <div class="inner-wrapper">
                <div class="footer-logo"><a href="#" title="Retour à l'accueil"><img src="{{ STATIC_URL }}images/footer/logo-footer.png" alt="" /></a></div>
                <div class="copyright-middle">
                    ©13 Atmosphère. All rights reserved. <br />
                    Produit par Draft Agency - 2013
                </div>
                <div class="top">
                    <a href="#top">Top</a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
