    {% load i18n %}
    {% load category_tag %}
<!--     {% load search_tags %}
    {% search_box request %} -->
    <header class="header">
        <div class="inner-wrapper">
            <div class="lang-container">
                <a href="#">Fr</a>
                <a href="#">En</a>
            </div>
        </div>
        <div class="logo">
            <a href="{% url 'atmosphere.views.index' %}" title="Retour à l'accueil"><span class="display">Atmosphère 13</span></a>
        </div>
        <nav class="main-nav-container" role="navigation">
            <ul class="main-nav" id="top">
                <li>
                    <a href="#">Home</a>
                    <ul class="s-menu">
                        <div class="wrapper">
                            <li><a href="#">Édito</a></li>
                            <li><a href="#">Je m'abonne à la newsletter</a></li>
                        </div>
                    </ul>
                </li>
                <li><a href="inspirations.php">Inspiration</a></li>
                <li><a href="invite-du-13.php">L'invité du 13</a></li>
                <li><a href="evocations.php">Évocation</a></li>
                <li><a href="">Et ailleurs</a> </li>
                <li><a href="gallery.php">Galerie</a></li>
                <li><a href="oeuil.php">L'oeil</a></li>
                <li><a href="contact.php">Contact</a></li>
            </ul>
        </nav>
    </header>
