    {% load i18n %}
    {% load category_tag %}
    {% load localeurl_tags %}
    <header class="header">
        <div class="inner-wrapper">
            <div class="lang-container">
            {% for lang in LANGUAGES %}
                {% ifequal lang.0 LANGUAGE_CODE %}
                    <a href="">{{ lang.0 }}</a>
                {% else %}
                    <a href="{{ request.path|chlocale:lang.0 }}">{{ lang.0 }}</a>
                {% endifequal %}
            {% endfor %}
            </div>
        </div>
        <div class="logo">
            <a href="{% url 'atmosphere.views.index' %}" title="Retour à l'accueil"><span class="display">Atmosphère 13</span></a>
        </div>
        <nav class="main-nav-container" role="navigation">
            <ul class="main-nav" id="top">
                <li>
                    <a href="{% url 'atmosphere.views.index' %}">Home</a>
                    <ul class="s-menu">
                        <div class="wrapper">
                            <li><a href="{% url 'atmosphere.views.contact' %}">Édito</a></li>
                            <li><a href="{% url 'newsletter.views.subscribe' %}">Je m'abonne à la newsletter</a></li>
                        </div>
                    </ul>
                </li>
                {% category_nav request %}
                <li><a href="{% url 'gallery.views.index_gallery' %}">Galeries</a> </li>
            </ul>
        </nav>
    </header>
