{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% load newsletter_tag %}
{% block content %}
    <div class="l-100">
        <div class="main home-page">
            {% if slider %}
            <div class="main-slider-container">
                <div class="slides-container">
                    <ul class="slides-list">
                        {% for slid in slider %}
                        {% thumbnail slid.image "950x400" crop="center" as img%}
                        <li><a href="{% url 'gallery.views.single_gallery' slid.article.slug %}">
                            <img src="{{ img.url }}" alt="" title="{{ gallery.name }} : {{ gallery.description|truncatewords:100}}"/></a></li>
                        {% endthumbnail %}
                        {% endfor %}
                    </ul>
                    <div class="slider-arrows-container">
                        <div class="slider-arrows prev"></div>
                        <div class="slider-arrows next"></div>
                    </div>
                </div>
                <ul class="bullets-list">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div> <!-- end of slider -->
            {% endif %}
            <div class="l-100 clear aboutNnl-container">
                <div class="hp-about-container">
                    <h2 class="middle-title">Edito</h2>
                    <div class="content-text">
                        {% blocktrans %}
                        <h2>Architecture et design : les vivre…  </h2>
                        <h4>Partager une sensibilité, une perception, un instant, une curiosité … </h4>
                        <p>…puis évoquer et laisser parler des gens attachants et qui ont une telle densité qu’ils pourraient bien faire la Une de l’actualité…</p>
                        <p>Publier des carnets de voyages, les nôtres, mais les leurs aussi… <strong>du beau à nos yeux…</strong></p>
                        <p>Parler de projets architecturaux, de produits et d’événements… <strong>tout ce que nos regards ont saisi…</strong></p>
                        <p>Ouvrir la porte à nos <strong>correspondants du monde entier</strong>, s’ouvrir à leurs œuvres, leurs réalités, leurs visions.</p>
                        <p><strong>Lire le monde avec des photographes</strong> français et internationaux…</p>
                        {% endblocktrans %}
                        <div class="btn-container"><a href="{% url 'atmosphere.views.contact' %}" class="btn">{% trans "Contactez-nous" %}</a></div>
                    </div>
                </div>
                {% subscribe_news request %}
            </div>
        </div>

        <div class="l-100">
            <div class="hp-articles-container">
                <div class="banner"><h3 class="banner-title">{% trans "Derniers articles publiés" %}</h3></div>
                <div class="inner-wrapper">
                    <ul class="hp-article-list l-100 clear">
                        <li>
                            <ul>
                                {% for article in last_articles %}
                                <li>
                                    <article>
                                        <header class="article-header">
                                            Posté le <span class="article-date">{{ article.created_at }}</span>
                                            <span class="article-category">{{ article.cateogory }}</span>
                                        </header>
                                        {% thumbnail article.image "218x166" crop="center" as img %}
                                        <a class="article-visual-link" href="{% url 'blog.views.single_article' article.slug%}"><img src="{{ img.url }}" alt="" /></a>
                                        {% endthumbnail %}
                                        <h4 class="article-title"><a href="{% url 'blog.views.single_article' article.slug%}">{{ article.title }}</a></h4>
                                        <div class="content-text">
                                            {{ article.content|safe|truncatechars:50 }}
                                        </div>
                                        <a href="{% url 'blog.views.single_article' article.slug %}" class="read-more-btn" title="Lire plus de l'article {{ article.title }}">+</a>
                                    </article>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hp-gallery-containter">
            <div class="banner"><h3 class="banner-title">{% trans "Galerie" %}</h3></div>
            <div class="inner-wrapper">
                <div class="hp-images-list-container">
                    <ul class="hp-images-list">
                        {% for image in gallery_photos %}
                        <li>
                            {% thumbnail image.image "200x100" crop="center" as img %}
                            <img src="{{ img.url }}" alt="" />
                            {% endthumbnail %}
                            <div class="color-overlay"></div>
                            <a class="image-link" href="{% url 'gallery.views.single_gallery' gallery.slug %}">
                                <div class="image-overlay">
                                    <span class="image-title">{{ image.image.title }}</span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <footer>
                        {% if gallery %}
                        <div class="gallery-details">
                            <div class="gallery-avatar">
                                <a href="{% url 'gallery.views.index_gallery' %}">
                                {% thumbnail gallery.author.image "56x52" crop="center" as img%}
                                <img src="{{ img.url }}" alt="{{ gallery.author.name }}" />
                                {% endthumbnail%}
                            </div><span class="gallery-author">{{ gallery.author.name }} -</span>
                            <span class="gallery-title"> {{ gallery.name }}</span></a>
                        </div>
                        {% endif %}
                    </footer>
                </div>
            </div>
        </div>

    </div> <!-- end of 1-100 -->
{% endblock %}
