{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h1>Welcome ! </h1>

<div class="slider" class="row-fluid">
    {% for article in slider %}
    <div class="slider_item">
        <img src="{{ MEDIA_URL }}{{ article.image.url }}" alt="">
        <h4>{{ article.title }}</h4>
        <p>{{ article.content|safe|truncatewords:20 }}</p>
        <a href="{% url 'blog.views.single_article' article.slug  %}">En savoir +</a>
    </div>
    {% endfor %}
</div>
<div class="row-fluid">
        {% for article in last_articles %}
        <div class="last_articles_index span1">
            <img src="{{ MEDIA_URL }}{{ article.image.url }}" alt="">
            <p>{{ article.title }}</p>
            <a href="{% url 'blog.views.single_article' article.slug %}">En savoir +</a>
        </div>
        {% endfor %}
</div>
{% if categories %}
    {% for cat in categories %}
    {% if cat.article_set.all %}
    <div class="categories">
        <h3>{{ cat.name }}</h3>
        <div id="article">
            {% for art in cat.article_set.all %}
            <div class="articles">
                <img src="{{ art.image.url }}" alt="">
                {{ art.title }}
                {{ art.author }}
                <a href="{% url 'blog.views.article' art.slug %}">En savoir +</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
