@charset "UTF-8";

/*  ==================================================
	INVITÉ DU 13
	==================================================  */

.content-page .l-100 {
	clear: both;
	overflow: hidden;
}

.l-685 {
	float: left;
	width: 685px;
}

/*  Left Colomn
	==================================================  */

.head-presentation {
	margin-bottom: 35px;
}

.presentation-content {
    padding: 30px 35px;
    border: 2px solid #bfc1c3;
    border-top: 0;
}

.head-presentation .title {
    height: 40px;
    border-top: 1px solid #66313a;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Futura BT Book';
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    background: #cb3544;
    background: -webkit-linear-gradient(top,#cb3544 0,#972934 100%);
    background: -o-linear-gradient(top,#cb3544 0,#972934 100%);
    background: -ms-linear-gradient(top,#cb3544 0,#972934 100%);
    background: linear-gradient(to bottom,#cb3544 0,#972934 100%);
}

.invite-du-13-page .presentation-name,
.evocations-page .presentation-title {
    font-family: 'Futura BT Book', sans-serif;
    font-size: 22px;
    color: #444;
}

.presentation-date {
    float: right;
    padding-top: 5px;
    font-family: 'Futura LT BTLight', sans-serif;
    font-size: 16px;
    color: #999;
}

.content-page .content-text {
	margin-bottom: 40px;
	font-family: 'Futura BT Book', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #444;
	-webkit-font-smoothing:antialiased;
}

.content-page .content-text p + p {
	margin-top: 18px;
}


/*  Gallery's Author
	==================================================  */

.invite-du-13-page .invite-13-focus {
	overflow: hidden;
	padding: 26px 45px 10px 20px;
	border: 2px solid #bfc1c3;
}

.invite-13-focus .content-text {
	margin-bottom: 0px;
	width: 400px;
	padding-top: 13px;
	border-top: 2px solid #848484;
}

.invite-13-focus .content-text p {
	line-height: 16px;
}

.invite-13-focus .gallery-avatar,
.invite-13-focus .invite-details {
	float: left;
}

.invite-13-focus .gallery-avatar {
	margin-right: 37px;
}

.invite-13-focus .gallery-avatar img {
	max-width: 167px;
	max-height: 169px;
	border: 2px solid #fcfdfd;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-box-shadow: 0px 0px 2px rgba(197, 198, 200, 1);
	-moz-box-shadow:    0px 0px 2px rgba(197, 198, 200, 1);
	box-shadow:         0px 0px 2px rgba(197, 198, 200, 1);
}

.invite-details .invite-13-name,
.invite-details .invite-13-profession {
	margin-bottom: 10px;
	font-size: 23px;
	font-family: 'Futura BT Book', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

.invite-details .localisation {
	float: right;
	text-transform: none;
}

.invite-details .invite-13-profession {
	color: #b73443;
	text-transform: none;
}