
.errorlist {
    color:red;
    margin-left:50px;
    margin:20px;
}

/* -- Newsletter -- */

.hp-newsletter-sub {
    width:500px;
    margin: 0 auto;
}
.hp-newsletter-sub label {
    margin:5px;
    font-weight:bold;
}
.hp-newsletter-sub input {
    border-radius:5px;
    cursor:pointer;
}

/* --slider--caption */
.bx-caption {
    position:absolute;
    bottom:0px;
    height:50px;
    width:100%;
    color:#fff;
    padding-top:10px;
    background:url('../img/caption.png') repeat;
}
.bx-caption span {

    font-weight: bold;
    font-size: 20px;
    margin-left:50px;
    margin-top:10px;
}

.sub_titles {
    font-size: 20px;
    font-weight: bold;
    margin:20px;
    margin-left:100px;
    color:#b5303d;
}

.single_gallery {
    width:180px;
}
