
.errorlist {
    color:red;
    margin-left:50px;
    margin:20px;
}

/* -- Newsletter -- */

.hp-newsletter-sub {
    width:500px;
    margin: 0 auto;
}
.hp-newsletter-sub label {
    margin:5px;
    font-weight:bold;
}
.hp-newsletter-sub input {
    border-radius:5px;
    cursor:pointer;
}
